@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #10b981,
      // 'base': #262626,
      // 'base': #0b5dd9,
    ),
  ),
  $text-color: (
    'regular': '#070921',
  ),
  $border-radius: (
    'base': 6px,
  ),
  $button: (
    'font-weight': 400,
    'text-color': #606266,
  ),
  $menu: (
    'item-height': 40px,
    'sub-item-height': 40px,
    'base-level-padding': 16px,
    'level-padding': 29px,
  ),
  $dialog: (
    'title-font-size': 18px,
    'padding-primary': 24px,
    'border-radius': 8px,
    'font-line-height': 0,

  ),
  $upload: (
    'dragger-padding-horizonta': 80px,
  ),
  $link: (
    'font-weight': 400,
  ),
  $drawer: (
    'padding-primary': 0px,
  ),
  $pagination: (
    'button-width': 28px,
    'button-height': 28px,
  ),
  $input: (
    'bg-color': '#fff',
  ),
  $dropdown: (
    'menuItem-hover-color': '#070921',
    'menuItem-hover-fill': '#edf1f6',
  ),
  $tree: (
    'node-content-height': 40px,
    'node-hover-bg-color': '#d4edff66',
  )
);
